<h1>Listing registrations</h1>

<table border="2">
  <thead>
  <tr>
    <th>Student id card</th>
    <th>Semester no</th>
    <th>Subject name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @registrations.each do |registration| %>
      <tr>
        <% if registration.student_id != nil and registration.student_id != 0 %>
            <% student =  Student.find(registration.student_id) %>
            <td><%= student.name %></td>
        <%end%>
        <% if registration.semester_id != 0 %>
            <% semester =  Semester.find(registration.semester_id) %>
            <td><%= semester.semester_no %></td>
        <%end%>
        <% if registration.subject_id != 0 %>
            <% subject = Subject.find(registration.subject_id) %>
            <td><%= subject.subject_name %></td>
        <%end%>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Registration', new_registration_path %> <br><br>

<%= link_to 'Advanced Search', new_search_path %>

