<p id="notice"><%= notice %></p>

<p>
  <strong>Student id card:</strong>
  <% student = Student.find_by_id(@registration.student_id) %>
  <%= student.name %>
</p>

<p>
  <strong>Semester no:</strong>
  <% semester = Semester.find_by_id(@registration.semester_id) %>
  <%= semester.semester_no %>
</p>

<p>
  <strong>Subject name:</strong>
  <% subject = Subject.find_by_id(@registration.subject_id) %>
  <%= subject.subject_name %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
