<h1>Search Results</h1>

<% if @search.registrations.blank? %>
    <p style="font-family:arial;color:red;font-size:20px;"><br><%= "No Such Record Found" %></p>
<% else %>
    <table border="1">
      <thead>
      <tr>
        <th>Student id</th>
        <th>Semester no</th>
        <th>Subject name</th>
      </tr>
      </thead>

      <tbody>

      <% @search.registrations.each do |registration| %>
          <tr>
            <td><%= registration.student_id %></td>
            <% if registration.semester_id != 0 %>
                <% semester =  Semester.find(registration.semester_id) %>
                <td><%= semester.semester_no %></td>
            <%end%>
            <% if registration.subject_id != 0 %>
                <% subject = Subject.find(registration.subject_id) %>
                <td><%= subject.subject_name %></td>
            <%end%>
          </tr>
      <% end %>
<% end %>
</tbody>
</table>


<br>

<%= link_to 'Back', registrations_path %>

